@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif !important;
  background: #e5e5e5;
}

a div {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
header {
  position: fixed;
  z-index: 1000;
  top: 0;
}
.insightcard:last-of-type {
  padding: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  max-height: max-content;
}
/* sample usage */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
#about:hover {
  color: #f08420 !important;
  /*font-size: 55rem!important;*/
}

.ant-menu-horizontal > .ant-menu-item a:hover,
.ant-menu-item a:active {
  text-decoration: none;
  color: #f08420 !important;
}
.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}
.ant-menu-title-content > a:active {
  color: #f08420 !important;
}
.mylink {
  color: #232323 !important;
}
.mylink:hover {
  color: #f08420 !important;
}

.normal_btn {
  background: #ffffff !important;
  /* border: 1px solid #E3E1E1; */
  color: #ff8f27 !important;
  border: 1px solid #fba14d !important;
  text-transform: uppercase !important;
}
.normal_btn:hover {
  background: #ef962b;
  color: #ffffff;
  border: 1px solid #fba14d;
}
.highlighted_btn {
  background: #ef962b !important;
  color: #ffffff !important;
  border: 1px solid #ef962b !important;
}
.highlighted_btn:hover {
  background: #ffffff !important;
  /* border: 1px solid #E3E1E1; */
  color: #ff8f27 !important;
  border: 1px solid #fba14d !important;
}
.mybtn {
  border-radius: 4px !important;
  min-width: 111px !important;
  min-height: fit-content !important;
  /* padding: .5rem 0 .5rem 0; */
}
.top {
  margin-top: 86px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .top {
    margin-top: 70px;
  }
}
form {
  width: 60vw;
  max-width: 80%;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  font-size: medium;
}

fieldset {
  border: none;
  padding: 0.5rem 0;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: larger;
}

label > span {
  color: red;
  font-weight: 500;
}
input,
textarea,
select {
  margin: 2px 0 0 0;
  width: 100%;
  min-height: 3em;
  padding: 1em;
  font-weight: 300;
}
input:focus,
textarea:focus,
select:focus {
  outline: 1px solid #ef962b80;
  height: fit-content;
}

input,
select,
option,
textarea {
  background-color: #e5e5e5;
  border-bottom: 2px solid #ef962b;
  color: #000;
  border-radius: 3px;
}

button[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 2px 2px;
}

.loader {
  margin-top: 10rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  border-top: 6px solid #f08420;
  border-left: 6px solid #f08420;
  border-right: 6px solid rgba(255, 255, 255, 0);
  animation: spin 0.575s infinite linear;
}

.loader-small {
  margin-top: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  border-top: 6px solid #f08420;
  border-left: 6px solid #f08420;
  border-right: 6px solid rgba(255, 255, 255, 0);
  animation: spin 0.575s infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#components-grid-demo-flex [class~="ant-row"] {
  background: #f8fafd;
  background: red !important;
  width: 95%;
  margin: 0 auto;
}

.linear_gradient {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 5.1%,
    rgba(0, 0, 0, 0.42) 50%
  );
}

.simple_banner {
  background: url("../assets/images/bannereight.png");
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ant-carousel .slick-dots li button {
  background: #ffffff !important;
  width: 9px !important;
  height: 9px !important;
  border-radius: 50% !important;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1 !important;
  background: #f08420 !important;
}

.ant-list-split .ant-list-item {
  border-bottom: none !important;
}

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image-container > div > .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.banner-image-container {
  width: 100%;
  height: 400px !important;
}

.banner-image-container > div {
  position: unset !important;
  height: 400px !important;
}

.banner-image-container > div > .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  /*height: unset !important;*/
  height: 50px !important;
}

.card-image-container {
  width: 100%;
  height: 400px !important;
}
.card-image-container img {
  height: max-content !important;
}

.card-image-container > div {
  position: unset !important;
  /*height: 400px !important;*/
}
.card-image-container > div > .image {
  object-fit: contain;
  width: 100% !important;
  height: 400px !important;
  padding: 5px !important;
  background-color: red !important;
}

.image-wrapper {
  box-sizing: content-box;
}
/* the magic happens here */
.image-wrapper > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.image-wrapper > div > .image {
  object-fit: cover;
}

.assetContainer {
  padding: 2rem 2rem 1rem 2rem;
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  color: rgb(9, 11, 79);
  transition: 0.6s ease-in-out;
}

.asset {
  border-radius: 6px;
  width: 100%;
}

.assetHeading {
  padding: 1rem;
  display: flex;
  grid-gap: 10px;
  align-items: center;
  cursor: pointer;
}

.assetHeading > h3 {
  font-weight: 800;
  font-size: 1rem;
}

.addIcon {
  transform-origin: center;
  transition: 0.2s ease-in-out;
}

.asset:nth-child(odd) {
  background-color: #fff6ee;
  border-left: 4px solid #ffc48b;
}

.asset:nth-child(even) {
  background-color: #fafaff;
  border-left: 4px solid #b4b3ff;
}

.assetContent {
  padding: 10px;
  padding-left: 3rem;
  margin-bottom: 1 rem;
}

.coming-soon-container {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.coming-soon-container > h1 {
  font-size: 6rem;
  color: #ff8c00;
  margin: 0;
}

.coming-soon-container > p {
  font-size: 3rem;
  color: #444;
  margin: 1rem 0;
}
